<!doctype html>
<html lang="fr">
     <head>
         <link rel="stylesheet" href={{ url_for("static", filename="styleform.css")}}>
         <meta charset="utf-8">
         <title>Le formulaire pour pendu</title>
     </head>    
     <body>
        <h1>Récapitulatif de votre saisie</h1>
        
        <p>Le mot saisi est le suivant: {{mot}}</p>
        <p>La difficulté que vous avez estimée du mot est de {{difficulte}}</p>
        <p>Pour l'aide, vous avez décidé d'utiliser la lettre {{lettre1}} et {{lettre2}}.</p>
        <a href="/form">Retour au formulaire de saisie pour un autre mot</a>
        <a href="/table">Ouvrir le registre des mots du fichier</a>
        
     </body>
</html>
